.main {
    height: calc(100vh - 5rem);
    width: 100vw;

}

.aside {
    overflow-y: scroll;
    overflow: hidden;
        width: 25vw;
        position: absolute;
        z-index: 999999;
}


::-webkit-scrollbar {
    display: none;
}

/* ::-webkit-scrollbar-track {
    width: 1px;
    background-color: rgba(130, 129, 130, 0.795);
}

::-webkit-scrollbar-thumb {
    height: 1px;
    background: rgba(130, 129, 130, 0.795);
    border-radius: 75px;
}

::-webkit-scrollbar-thumb:hover {
    width: 1px;
    background: rgba(130, 129, 130, 0.795);
}

*/

.map-container {
    width: 100vw;
    height: calc(100vh - 4rem);
}

.leaflet-container {
    width: 100vw;
    height: calc(100vh - 4rem);
}
@media (max-width: 768px) {

    .aside {
        overflow-x: scroll;
        overflow: hidden;
        width: 100vw;
        position: absolute;
        z-index: 999999;
        bottom: 0;
    }
}
