.add-btn {
    height: 50px;
    width: 50px;
    border-radius: 75px;
    color: var(--secondary-color);
    background-color: blueviolet;
    position: fixed;
    bottom: 20px;
    left: 20px;
    box-shadow: 2px 2px 3px #515151;
}

.input-card {
    border: 1px rgba(137, 43, 226, 0.507) solid;
    width: 5vw;
}

.input-card:focus {
    border: none;
    outline: none;
    border: 1px blueviolet solid;
}

.contact-card {
    gap: 25px;
    margin-left: 10px;
}

/* .card-form-modal {
    position: absolute;
    top: 50px;
    left: 500px;
    z-index: 9999999 !important;
    background-color: white;
    padding: 20px;
}
*/ .card-form-modal {
    position: absolute;
    top: 50px;
    left: 500px;
    padding: 30px;
    background-color: #d0d0d0;
    border-radius: 25px;
    transition: .4s ease-in-out;

}

.card-form-modal:hover {
    transform: scale(1.05);
}

#heading {
    text-align: center;
    color: rgb(66, 66, 66);
    font-size: 1.2em;
}