input {
    outline: none;
        padding: 8px;
            font-size: 16px;
            flex-shrink: 0;
            border: none;
            background-color: #fff;
        width: 340px;
}

.input-component::placeholder {
    color: white;
}

.label {
    font-size: 15px;
    margin-left: 15px;
    opacity: 0.5;
    pointer-events: none;
    transition: opacity 0.3s ease;
    color: rgba(55, 90, 247, 0.877);
}

.label-class {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.none-opacity {
    opacity: 0;
    transition: opacity 0.3s ease;
}