.shipment-card {
    --dark-grey: #353535;
    --middle-grey: #767676;
    --shadow: 0 5px 15px 0 #00000026;
    --shadow-active: 0 5px 5px 0 #00000026;
    --lightest-grey: linear-gradient(#fafafa, #ebebeb);
    --border-radius-main: 10px;
    --border-radius-icon: 50px;
    text-align: start;
    color: var(--dark-grey);
    opacity: .9;
    font-weight: 600;
    background: var(--lightest-grey);
    max-width: 300px;
    border-radius: var(--border-radius-main);
    box-shadow: var(--shadow);
    transition: .2s ease all;
    padding: 20px;
    gap: 5px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}


.shipment-card:hover {
    transform: translateY(-5px);
}

.card-btn {
    border: none;
    background-color: transparent;
    border: 1px blueviolet solid;
    color: blueviolet;
    padding: 5px;
    border-radius: 75px;
}

.card-btn:hover {
    cursor: pointer;
}

.card-btn:active {
    filter: brightness(70%);
}

.controls {
    margin-top: 5px;
    justify-content: flex-end
}