.shipment-card {
    padding: 20px;
    gap: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
}


.shipment-card:hover {
    transform: translateY(-5px);
}

.card-btn {
    border: none;
    background-color: transparent;
    border: 1px blueviolet solid;
    color: blueviolet;
    padding: 5px;
    border-radius: 75px;
}

.card-btn:hover {
    cursor: pointer;
}

.card-btn:active {
    filter: brightness(70%);
}

.controls {
    margin-top: 5px;
    justify-content: flex-end
}