.card-list {
    padding: 20px;
    gap: 10px;
    overflow-y: auto;
    height: 90vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.card-list::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    .card-list {
    flex-direction: row;
    padding: 20px;
    gap: 10px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    align-items: flex-end;
    }
}